* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: #36393e; 
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}
@media(max-width: 736px){
    .container{
        width: 95%;
    }
    .boxCard .card{
        max-width: 90%;
        min-height: 400px;
    }
}
@media(min-width: 736px){
    .boxCard .card{
        max-width: 230px;
        min-height: 200px;
    }
}

.header {
    position: fixed;
    background-color: rgba(142, 68, 173, 0.3);
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: white;
    margin: auto;
}
.menu li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 24px 0;
    color: #fff;
}

.menu li:hover {
    background-color: rgba(142, 68, 173, 0.5);
}


.menu li a {
    text-decoration: none;
    padding: 25px 20px;
    color: #fff;
}
.read {
    width: 100%;
    text-align: justify;
    font-size: 15px;
}
.divSearch{
    width: 100%;
    display: flex;
}
.divSearch #search{
    margin: 0 auto 10px;
    width: 49%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #0d001c;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    transition: all 1s;
}
.divSearch #search:focus{
    border: 2px solid #2b015c;
    width: 100%;
}

/* Cards  */
.boxCard{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
}
.boxCard .card{
    text-align: center;
    flex: 1 1 250px; /* primeiro valor 1 expansao, 1 que pode ficar menor,  200px a base , se ele não poder ter 200px ele quebra */
    width: 25%;
    height: 290px;
    margin: 20px auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.boxCard .card:hover{
    transform: scale(1.1);
}
.boxCard .card img{
    width: 80%;
    height: 100%;
}
.boxCard .card .imgBox{
    border-radius: 15px 15px 50% 50%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60%;
    width: 100%;
    transition: all 0.5s;
    position: relative;
}
.card > .imgBox > .fa-heart{
    position: absolute;
    top: 5px;
}
.card > .imgBox > .fa-heart:hover{
    color: #c0392b;
}

.boxCard .card .read{
    padding: 10px;
}
.boxCard .card label{
    display: block;
    box-sizing: border-box;
}
.boxCard .card .namePoke{
    font-size: 20px;
}
.boxCard .card .types{
    display: inline;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 10px;
}