* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo 2', cursive;
    color: #fff;
}
section .container{
    position: relative;
    border-radius: 20px;
    top: 50px;
    margin-bottom: 60px;
    background: #36393e;
    box-shadow: 5px 0px 10px rgba(45, 52, 54,0.5);
    padding: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}
@media(max-width: 736px){
    .container{
        width: 95%;
    }
    .boxCard .card{
        max-width: 90%;
        min-height: 400px;
    }
}
@media(min-width: 736px){
    .boxCard .card{
        max-width: 230px;
        min-height: 200px;
    }
}

.header {
    position: fixed;
    background-color: rgba(45, 52, 54,0.9);
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: white;
    margin: auto;
}
.menu li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 24px 0;
    color: #fff;
}

.menu li:hover {
    background-color: rgba(99, 110, 114,0.5);
}


.menu li a {
    text-decoration: none;
    padding: 25px 20px;
    color: #fff;
}
.container > .read{
    text-align: center;
}
.container > .read{
    font-size: 20px;
}
.read {
    width: 100%;
    text-align: justify;
    font-size: 15px;
}
.divSearch{
    width: 100%;
    display: flex;
}
.divSearch #search{
    margin: 0 auto 10px;
    width: 49%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #0d001c;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    transition: all 1s;
}
.divSearch #search:focus{
    border: 2px solid #2b015c;
    width: 100%;
}

/* Cards  */
.boxCard{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
}
.boxCard .card{
    text-align: center;
    flex: 1 1 250px; /* primeiro valor 1 expansao, 1 que pode ficar menor,  200px a base , se ele não poder ter 200px ele quebra */
    width: 25%;
    height: 290px;
    margin: 20px auto;
    background: #0F2027;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.boxCard .card:hover{
    transform: scale(1.1);
}
.boxCard .card img{
    width: 80%;
    height: 100%;
}
.boxCard .card .imgBox{
    border-radius: 15px 15px 50% 50%;
    background-color: #2d3436;
    height: 60%;
    width: 100%;
    transition: all 0.5s;
    position: relative;
}
.card > .imgBox > .fa-heart{
    position: absolute;
    top: 5px;
}
.card > .imgBox > .fa-heart:hover{
    color: #c0392b;
}

.boxCard .card .read{
    padding: 10px;
    text-transform: capitalize;
}
.boxCard .card label{
    display: block;
    box-sizing: border-box;
}
.boxCard .card .namePoke{
    font-size: 20px;
}
.boxCard .card .types{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.boxCard .card .type{
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #fff;
}