@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
*{
    --backgroundColor: #1a1e1d;
}

::-webkit-progress-bar {
    background-color: rgba(54,62,61);
    border-radius: 10px;
}
::-webkit-progress-value {
    border-radius: 10px;
}
progress {
    -webkit-appearance: none;
}
#progressHp::-webkit-progress-value {
    background-color: var(--hp);
}
#progressAtk::-webkit-progress-value {
    background-color: var(--attack);
}
#progressDef::-webkit-progress-value {
    background-color: var(--defense);
}
#progressSpAtk::-webkit-progress-value {
    background-color: var(--spAtk);
}
#progressSpDef::-webkit-progress-value {
    background-color: var(--spDef);
}
#progressSpeed::-webkit-progress-value {
    background-color: var(--speed);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.pokeGeral{
    font-size: 20px;
    background-color: var(--backgroundColor);
}
.flexBox{
    display: flex;
    justify-content: space-between;
}
.flexBox .contentData label{
    display: block;
    text-align: left;
}
.flexBox .contentData{
    width: 50%;
 
}
.titlePoke{
    font-size: 18px;
    font-weight: 800;
}
.pokeGeral{
    border-radius: 10px;
}
.pokeGeral .names{    
    width: 80%;
    margin: 10px;
    font-weight: 800;
}
.pokeGeral .txtTypes label{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: none;
}
.pokeGeral .image{
    text-align: center;
    width: 20%;
    float: right;
    background-color: #fff;
    border-radius: 50% 10px 10px 50%;
}
.pokeGeral .image img{
    width: 100%;
}

.dataPoke > div{
    margin-top: 10px;
    width: 100%;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding: 10px;
}
.dataPoke .stats{
    width: 69%;
    display: inline-block;
    text-align: right;
    text-align: center;
}
.dataPoke .stats progress{
    position: relative;
    float: left;
    width: 80%;
    height: 20px;
}
.dataPoke .data{
    width: 30%;
}
.dataPoke > div > h3{
    text-align: center;
}
@media(max-width: 760px){
    .container{
       width: 100%;
    }
    .dataPoke{
        display: flex;
        flex-wrap: wrap;
    }
    .dataPoke > .sm-data{
        width: 100%;
    }
    .dataPoke .stats progress{
        width: 64%;
        height: 20px;
    }
    .pokeGeral .txtTypes label{
        padding: 1px;
    }
    .pokeGeral .image{
        width: 40%;
        height: 90px;
    }
    .pokeGeral .image img {
        height: 90px;
    }
}