.box-profile{
    /* background-color: #3e4446 !important; */
    width: 100%;
    display: flex;
}
.dataUser h1{
    display: inline-block;
}
.container-profile{
    background-color: rgba(44,50,52,1);
}